


.navbar-default{
	background-color: #000;
	border-radius: 0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-color: #000;
}

.navbar-default .navbar-nav > li > a{
	color: #fff;
	transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;

}

.navbar-default .navbar-nav > a:hover
{
	background-color: #808080;
}

#video
{
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
	min-width: 100%;
	display: block;
	min-height: 100%;
	height: auto;
	background-position-x: 0;
	background-position-y: 0;
	overflow: hidden;
	z-index: -1000;

}

